<h2>Categories</h2>

<div class="category-container">
  <div *ngFor="let category of categories">

    <img class="category-image" src="{{ category.image }}" alt="no image">
    <h3>
      <a
        [title]="category.name + ' details'"
        href="{{ 'http://localhost:4200/home'}}"
        target="_blank">

      </a>
    </h3>

<!--    <div *ngIf="show">-->
<!--      dsfsdfsdfsdfs-->
<!--    </div>-->
<!--    <button type="button" (click)="change()">-->
<!--      change-->
<!--    </button>-->
    <button class="btn btn-primary" (click)="gotoHome()">{{ category.name }}</button>


  </div>
</div>
